{{@extendsFile('template.html', it)}}

<p>All times in PDT (UTC-7) regardless of daylight savings.</p>

<hr />

<h2>Jumbo Cactpot</h2>

<div class="colcontainer">
    <div class="colcol">
        <p class="timer-description">NA</p>
        <p id="jumbona" class="timer"></p>
        <p class="timer-description">Aether, Primal, & Crystal</p>
        <p class="timer-description">Saturdays at 7pm</p>
    </div>
    <div class="colcol">
        <p class="timer-description">EU</p>
        <p id="jumboeu" class="timer"></p>
        <p class="timer-description">Chaos & Light</p>
        <p class="timer-description">Saturdays at 12pm (9pm CET)</p>
    </div>
    <div class="colcol">
        <p class="timer-description">JP</p>
        <p id="jumbojp" class="timer"></p>
        <p class="timer-description">Elemental, Gaia, & Mana</p>
        <p class="timer-description">Saturdays at 5am (9pm JST)</p>
    </div>
</div>

<hr />
<h2>Weekly Reset</h2>
<p id="weekly" class="timer"></p>
<p class="timer-description">Raid lockouts, currency limits, challenge log, custom deliveries, wondrous tails, squadron priority missions, and masked carnivale</p>
<p class="timer-description">Tuesdays at 1am</p>

<hr />
<h2>Daily Reset</h2>
<p id="daily" class="timer"></p>
<p class="timer-description">Daily roulettes, daily quests, beast tribes, frontlines</p>
<p class="timer-description">Daily at 8am</p>

<hr />
<h2>Grand Company + Rowena Daily Reset</h2>
<p id="gc" class="timer"></p>
<p class="timer-description">Squadron training, grand company supply & provisioning turn-ins, and Rowena collectable turn-ins</p>
<p class="timer-description">Daily at 1pm</p>

<hr />
<h2>Lalachievements Rankings</h2>
<p id="lalachievements" class="timer"></p>
<p class="timer-description">Daily at 5pm</p>

<hr />
<h2>Triple Triad Tournament</h2>
<p id="tt" class="timer"></p>
<p class="timer-description">Every other week, at weekly reset, for one week</p>

<hr />
<h2>Verminion Tournament</h2>
<p id="verminion" class="timer"></p>
<p class="timer-description">Every 8 days, for 3 days, from 8am - 7:45am</p>

<script src="/timeago.min.js"></script>
<!--<script src="https://moment.github.io/luxon/global/luxon.min.js"></script>-->
<script>
    /*function ago(val) {
        // https://github.com/odyniec/tinyAgo-js
        val = 0 | (Date.now() - val) / 1000;
        var unit, length = { second: 60, minute: 60, hour: 24, day: 7, week: 4.35,
            month: 12, year: 10000 }, result;

        for (unit in length) {
            result = val % length[unit];
            if (!(val = 0 | val / length[unit]))
                return result + ' ' + (result-1 ? unit + 's' : unit);
        }
    }
    function agofromnow(v) {
        if (v > Date.now())
            return 'in ' + ago(2 * Date.now() - v);
        else
            return ago(v) + ' ago';
    }*/
    (function() {
        let jumbona = document.getElementById('jumbona');
        let jumboeu = document.getElementById('jumboeu');
        let jumbojp = document.getElementById('jumbojp');
        let weekly = document.getElementById('weekly');
        let daily = document.getElementById('daily');
        let gc = document.getElementById('gc');
        let lalachievements = document.getElementById('lalachievements');
        let tt = document.getElementById('tt');
        let verminion = document.getElementById('verminion');
        function update() {
            jumbona.innerHTML = timeago.format('{{it.jumbona}}');
            jumboeu.innerHTML = timeago.format('{{it.jumboeu}}');
            jumbojp.innerHTML = timeago.format('{{it.jumbojp}}');
            weekly.innerHTML = timeago.format('{{it.weekly}}');
            daily.innerHTML = timeago.format('{{it.daily}}');
            gc.innerHTML = timeago.format('{{it.gc}}');
            lalachievements.innerHTML = timeago.format('{{it.lalachievements}}');
            tt.innerHTML = ({{it.triadCurrent}} ? 'ends ' : 'begins ') + timeago.format('{{it.tt}}');
            verminion.innerHTML = ({{it.verminionCurrent}} ? 'ends ' : 'begins ') + timeago.format('{{it.verminion}}');
            setTimeout(update, 500);
        }

        update();
    }());
</script>

{{/extendsFile}}