{{@extendsFile('template.html', it)}}

<h2>Ocean Fishing</h2>

{{@each(it.times) => time}}
<hr />
<p class="timer">{{time.time}}</p>
<p>{{time.route}}</p>
{{/each}}

<script>
    document.querySelectorAll('.timer').forEach(function(ele) {
       let time = new Date(ele.innerHTML*1);
       ele.innerHTML = time.toLocaleTimeString();
    });
</script>

{{/extendsFile}}