<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FFXIV Timers</title>
    <meta name="description" content="Reset timer reminders for Final Fantasy XIV">
    <meta name="author" content="Lalachievements">
    <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap" rel="stylesheet">
    <link href="/style.css" rel="stylesheet">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <meta property="og:title" content="FFXIV Timers">
    <meta property="og:type" content="website">
    <meta property="og:image" content="/momodi.png">
    <meta property="og:description" content="Reset timer reminders for Final Fantasy XIV">
    <meta property="og:url" content="https://ffxivtimers/{{it.page}}">
</head>
<body>
    <div id="header">
        <div id="headerInner">
            <h1>FFXIV Timers</h1>
            <div class="nav">
                <a href="/" class="{{it.page===''?'current':''}}">Timers</a>
                <a href="/ocean" class="{{it.page==='ocean'?'current':''}}">Ocean Fishing</a>
                <a href="/webhook" class="{{it.page==='webhook'?'current':''}}">Discord Webhook</a>
            </div>
        </div>
    </div>
    <div id="content">
        {{*it.content}}
        <hr />
        <p>Made by Aurora Sundae (Excalibur). If you find this useful, consider <a href="https://www.patreon.com/lalachievements">supporting me on Patreon</a>.</p>
        <p>For support or updates, <a href="https://discord.gg/jUfj3NV">join my discord server</a>.</p>
    </div>
</body>
</html>