{{@extendsFile('template.html', it)}}

<p>Get notified of resets and other timers in your Discord server by a customizable webhook.</p>

<div class="colcontainer">
    <div class="colcol">
        <h2>Timers</h2>
        <label><input type="checkbox" value="jumbona" checked> <span class="checkbox-custom rectangular"></span> Jumbo Cactpot (NA)</label>
        <label><input type="checkbox" value="jumboeu"> <span class="checkbox-custom rectangular"></span>Jumbo Cactpot (EU)</label>
        <label><input type="checkbox" value="jumbojp"> <span class="checkbox-custom rectangular"></span> Jumbo Cactpot (JP)</label>
        <p class="checkbox-description">Notification given at drawing time</p>
        <label><input type="checkbox" value="weekly" checked> <span class="checkbox-custom rectangular"></span> Weekly Reset</label>
        <p class="checkbox-description">Notification given 1 hour before reset</p>
        <label><input type="checkbox" value="daily"> <span class="checkbox-custom rectangular"></span> Daily Reset</label>
        <p class="checkbox-description">Notification given 1 hour before reset</p>
        <label><input type="checkbox" value="gc"> <span class="checkbox-custom rectangular"></span> Grand Company + Rowena Daily Reset</label>
        <p class="checkbox-description">Notification given 30 minutes before reset</p>
        <label><input type="checkbox" value="tt"> <span class="checkbox-custom rectangular"></span> Gold Saucer Tournaments</label>
        <p class="checkbox-description">Notification given on tournament start, and 1 hour before tournament end</p>
        <label><input type="checkbox" value="ocean"> <span class="checkbox-custom rectangular"></span> Ocean Fishing</label>
        <p class="checkbox-description">Notification given 15 minutes before voyage</p>
        <label><input type="checkbox" value="lala"> <span class="checkbox-custom rectangular"></span> Lalachievements Rankings</label>
        <p class="checkbox-description">Notification given 10 minutes after rankings update</p>
    </div>
    <div class="colcol">
        <h2>Language</h2>
        <label><input type="radio" name="lang" value="en" checked /> <span class="checkbox-custom circular"></span> EN</label>
        <!--
        <label><input type="radio" name="lang" /> <span class="checkbox-custom circular"></span> FR</label>
        <label><input type="radio" name="lang" /> <span class="checkbox-custom circular"></span> DE</label>
        <label><input type="radio" name="lang" /> <span class="checkbox-custom circular"></span> JP</label>-->
    </div>
</div>
<a class="button" href="#">Add to Discord Server</a>

<hr />

<p>Clicking &ldquo;Add&rdquo; will redirect you to Discord's website to select a server and channel.</p>
<p><strong>Removing from your server:</strong> Click &ldquo;Edit Channel&rdquo; > &ldquo;Webhooks&rdquo; > &ldquo;X&rdquo;.</p>
<p><strong>Changing your selections:</strong> Remove it and re-create it.</p>
<p><strong>Changing the portrait:</strong> Click &ldquo;Edit Channel&rdquo; > &ldquo;Webhooks&rdquo; > &ldquo;Edit&rdquo;. Editing the name will have no effect, only the icon may be changed.</p>


<script>
    (function() {
        let url = 'https://discordapp.com/api/oauth2/authorize?response_type=code&client_id=707024201671770175&scope=webhook.incoming&redirect_uri=https://ffxivtimers.com/authorize&state=';
        let linkEle = document.querySelector('.button');
        let lang = 'en';
        let state = [];
        function update() {
            state = [];
            document.getElementsByName('lang').forEach(function (ele) {
                if (ele.checked) lang = ele.value;
            });
            document.querySelectorAll('input[type=checkbox]').forEach(function (ele) {
                if (ele.checked) state.push(ele.value);
            });
            linkEle.href = url + lang + ',' + state.join(',');
        }

        document.querySelectorAll('input').forEach(function (ele) {
            ele.addEventListener('click', update);
        });

        update();
    }());
</script>

{{/extendsFile}}