body {
    background: #edeae6;
    color: #222;
    font-family: 'Libre Baskerville', serif;
    font-size: 16px;
    line-height: 1.4em;
    cursor: default;
    margin: 0;
}
#header {
    background: linear-gradient(0deg, #edeae6 10%, rgba(175,236,242,1) 12%, rgba(102,178,253,1) 100%);
}
#headerInner {
    background: url(/BannerWood.png) bottom right repeat-x;
    height: 288px;
    text-align: left;
}
h1, .nav {
    max-width: 800px;
    margin: 0 auto 0 auto;
    white-space: nowrap;
}
h1 {
    color: rgba(255,255,255,0.9);
    padding: 89px 2px 88px 22px;
    font-weight: normal;
    font-size: 48px;
    line-height: 32px;
    background: rgb(175,236,242);
    background: url(/BannerMomodi1.png) bottom right no-repeat;
    text-shadow: 1px 2px 2px rgba(0,0,0,0.3);
}
h2 {
    color: #555;
    font-weight: normal;
    margin: 18px 0 18px 0;
    font-size: 22px;
}
h2:first-child {
    margin-top: 3px;
}
#content {
    max-width: 800px;
    margin: 0 auto 24px auto;
    padding: 0 6px;
}
#content *:first-child {
    margin-top: 0;
}
hr {
    border:none;
    border-bottom: 1px solid #bbb;
    margin: 24px 0 24px 0;
}
p {
    margin: 18px 0;
}
.nav {
    text-align: left;
}
.nav a {
    display: inline-block;
    padding: 13px 24px;
    text-decoration: none;
    border-left: 1px solid #322313;
    border-bottom: none;
    float:left;
    color: #e7d7c6;
    text-align: center;
    font-size: 14px;
}
.nav a:last-child {
    border-right: 1px solid #322313;
}
.nav a:hover {
    background: rgba(231,215,198,0.1);
    color: #fff;
}
.nav a.current {
    background: rgba(0,0,0,0.2);
    color: #fff;
}
@media only screen and (max-width: 600px) {
    h1 {
        color: #fff;
        font-size: 38px;
        padding: 159px 2px 18px 12px;
        text-shadow: 1px 2px 3px rgba(0,0,0,0.5);
    }
    .nav {
        display: flex;
    }
    .nav a {
        padding: 13px 0;
        flex: 1 1 auto;
    }

}
a {
    color: #36f;
}
a:hover {
    color: #58f;
}

.button {
    display: inline-block;
    background: #36f;
    border: 3px solid #69f;
    color: #def;
    padding: 12px 24px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.1em;
    text-decoration: none;
}
.button:hover {
    background: #47f;
    color: #def;

}

.timer {
    margin: 3px 0;
    font-size: 1.4em;
}
.timer-description {
    margin: 0;
    font-size: 0.82em;
}
.checkbox-description {
    margin: -11px 0 13px 32px;
    font-size: 0.82em;
}

@media only screen and (min-width: 600px) {
    .colcontainer {
        display: flex;
    }
    .colcol {
        flex: 1;
        padding-left: 24px;
    }
    .colcol:first-child {
        padding-left: 0;
    }
}

/* Styling Checkbox Starts */
label {
    display: block;
    position: relative;
    margin: auto;
    cursor: pointer;
    line-height: 24px;
    height: 36px;
    clear: both;
    padding-left: 32px;
}

label input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

label .checkbox-custom {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: transparent;
    border-radius: 5px;
    transition: background-color 0.2s ease-out;
    border: 2px solid #f9f9f9;
}
label:hover {
    color: #555;
}
label:hover .checkbox-custom {
    border-color: #ffffff;
}


label input:checked ~ .checkbox-custom {
    background-color: #f7f5f2;
    border-radius: 5px;
    transform: rotate(0deg) scale(1);
    opacity:1;
}


label .checkbox-custom::after {
    position: absolute;
    content: "";
    left: 10px;
    top: 10px;
    height: 0;
    width: 0;
    border-radius: 5px;
    border: solid #666;
    border-width: 0 3px 3px 0;
    transform: rotate(0deg) scale(0);
    opacity:1;
    transition: all 0.2s ease-out;
}


label input:checked ~ .checkbox-custom::after {
    transform: rotate(45deg) scale(1);
    opacity:1;
    left: 6px;
    top: 1px;
    width: 6px;
    height: 12px;
    border: solid #666;
    border-width: 0 2px 2px 0;
    background-color: transparent;
    border-radius: 0;
}

/* For Ripple Effect */
label .checkbox-custom::before {
    position: absolute;
    content: "";
    left: 10px;
    top: 10px;
    width: 0;
    height: 0;
    border-radius: 5px;
    border: 2px solid #fff;
    transform: scale(0);
}

label input:checked ~ .checkbox-custom::before {
    left: -3px;
    top: -3px;
    width: 24px;
    height: 24px;
    border-radius: 5px;
    transform: scale(3);
    opacity:0;
    z-index: 999;
    transition: all 0.3s ease-out;
}

/* Style for Circular Checkbox */
label .checkbox-custom.circular {
    border-radius: 50%;
}

label input:checked ~ .checkbox-custom.circular {
    border-radius: 50%;
}
